@model List<ApplicationUser>
@{
    ViewData["Title"] = "User Page";
}

<h2>Users List</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Posts</th> <!-- Add a header for Posts -->
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Age</td>
                <td>
                    @if(user.Posts.Any()) 
                    {
                        <ul>
                            @foreach(var post in user.Posts) 
                            {
                                <li>@post.Title - @post.PostedOn.ToShortDateString()</li>
                            }
                        </ul>
                    }
                    else 
                    {
                        <text>No posts</text>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
